<div class="d-flex flex-column flex-lg-row flex-column-fluid">
	{% include 'users/login/sidebar.twig' %}
	<div class="d-flex flex-column flex-lg-row-fluid py-10">
		<div class="d-flex flex-center flex-column flex-column-fluid">
			<div class="w-lg-500px p-10 p-lg-15 mx-auto">
				{{ form_helper_open({class: 'form w-100', 'data-ajax-form': null}) | raw }}
				<div class="text-center mb-10">
					<h1 class="text-dark mb-3">{{ i18n__('Restore password') }}</h1>
				</div>
				{{ html_helper_flash_message({container: {class: (has_error ? 'alert alert-danger' : 'alert alert-info')}})| raw }}
				{{ form_helper_input('user[User][email]', 'email', false, {label: {content: i18n__('Email'), class: 'form-label fs-6 fw-bolder text-dark'}, disabled: null, div: {class: 'fv-row mb-10'}, class: 'form-control form-control-lg form-control-solid', autocomplete: 'off', required: null}) | raw }}
				{{ form_helper_input('user[User][new_password]', 'password', false, {label: {content: i18n__('New password'), class: 'form-label fs-6 fw-bolder text-dark'}, div: {class: 'fv-row mb-10'}, class: 'form-control form-control-lg form-control-solid', autocomplete: 'off', required: null}) | raw }}
				{{ form_helper_input('user[User][check_new_password]', 'password', false, {label: {content: i18n__('Repeat password'), class: 'form-label fs-6 fw-bolder text-dark'}, div: {class: 'fv-row mb-10'}, class: 'form-control form-control-lg form-control-solid', autocomplete: 'off', required: null}) | raw }}
				<div class="text-center">
					<button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary fw-bolder me-3 my-2">
						<span class="indicator-label">{{ i18n__('Submit') }}</span>
						<span class="indicator-progress">{{ i18n__('Please wait...') }}
							<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
						</span>
					</button>
					<a href="{{ router_url({controller: 'Users', action: 'login'}) }}" class="btn btn-lg btn-light-primary fw-bolder">{{ i18n__('Cancel') }}</a>
				</div>
				{{ form_helper_close() | raw}}
			</div>
		</div>
	</div>
</div>
