{% if actions %}
	<div class="d-flex align-items-center flex-nowrap text-nowrap py-1">
		{% set validActions = [] %}
		{% set mainAction = null %}
		{% for action in actions %}
			{% if action.active %}
				{% set validActions = validActions|merge([action]) %}
				{% if not mainAction and action.main %}
					{% set mainAction = action %}
				{% endif %}
			{% endif %}
		{% endfor %}
		{% if not mainAction and validActions|length > 0 %}
			{% set mainAction = validActions[0] %}
		{% endif %}
		<span class="btn-group" role="group">
			{% if mainAction %}
				<a {% if mainAction.confirm %} data-gc-confirm="{{ action.confirm }}" {% endif %} href="{{ (not mainAction.url is iterable) ? mainAction.url : router_url(mainAction.url) }}" class="btn btn-{{ mainAction.type ?: 'primary' }} btn-sm" {{ mainAction.attributes | raw }}>{{ mainAction.label}}</a>
			{% endif %}
			{% if validActions|length > 1 %}
				<span class="btn-group" role="group">
					<button type="button" class="btn btn-sm btn-{{ mainAction.type ?: 'primary' }} dropdown-toggle" id="dropDownActions{{ td.data_id }}" data-bs-toggle="dropdown" aria-expanded="false">
						{% if not mainAction %}
							{{ i18n__('Actions') }}
						{% endif %}
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropDownActions{{ td.data_id }}">
						{% for action in validActions %}
							<li>
								<a {% if action.confirm %} data-gc-confirm="{{ action.confirm }}" {% endif %} href="{{ (not action.url is iterable) ? action.url : router_url(action.url) }}" class="dropdown-item" {{ action.attributes | raw }}>{{ action.label}}</a>
							</li>
						{% endfor %}
					</ul>
				</span>
			{% endif %}
		</span>
	</div>
{% endif %}
