<table align="center" width="100%" border="0" bgcolor="#fff" style="max-width: 700px; min-width: 700px; width: 700px; border: none; border-collapse: collapse;" cellpadding="0" cellspacing="0">
	<tr>
		<td align="center" style="padding: 0; margin: 0;">
			<table align="center" width="100%" border="0" style="border-collapse: collapse; max-width: 700px; min-width: 700px; width: 700px; padding: 0; margin: 0; background: white;" cellpadding="0" cellspacing="0" bgcolor="#fff" valign="top">
				<tr>
					<td width="50%" align="left" style="padding: 0; margin: 0; font-size: 2px; line-height: 2px;" valign="top">
						<img align="top" src="{{ root }}static/img/email/pepe-nacho-san-ignacio.jpg" width="100%" style="width: 350px; height: auto; border: 0; margin: 0; padding: 0; float: left;">
					</td>
					<td width="50%" align="left" style="padding-right: 20px">
						<p style="font-size: 15px; font-family: sans-serif; color: white; font-weight: normal; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 0;">
							.
						</p>
						<p style="font-size: 35px; font-family: sans-serif; color: black; font-weight: bolder; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 0; padding-bottom: 0;">
							¡Enhorabuena!
						</p>
						<p style="font-size: 15px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 10;">
							<strong style="font-size: 15px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; margin-top: 0; margin-bottom: 0;">
								Ya tienes tu
							</strong>
							<strong style="font-size: 15px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; margin-bottom: 0;">
								<mark style="background-color: #FFD100 !important;">entrada para 2 personas</mark>
							</strong>
							<br>
							con la que podrás asistir al
							<br>
							<strong style="font-size: 25px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; text-transform: uppercase;">
								<mark style="background-color: #FFD100 !important;">Gran Showcooking</mark>
							</strong>
							<br>
							<strong style="font-size: 25px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; text-transform: uppercase;">
								<mark style="background-color: #FFD100 !important;">de Navidad</mark>
							</strong>
							<br>
							con
							<strong style="font-size: 20px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0;">
								<mark style="background-color: #FFD100 !important;">Pepe Rodríguez</mark>
							</strong>
							<br>
							y
							<strong style="font-size: 20px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0;">
								<mark style="background-color: #FFD100 !important;">Nacho Manzano</mark>
							</strong>
							<br>en el Palacio de Exposiciones
							<br>y Congresos de Oviedo.
						</p>
						<p style="font-size: 15px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 10;">
							Día: 29 de noviembre de 2022.
							<br>
							Apertura de puertas: 19:00 hrs.
							<br>
							Inicio del evento: 19:30 hrs.
						</p>
						<p style="font-size: 13px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 10; letter-spacing: -.5px;">
							Entradas no numeradas.
							<br>
							Recomendamos ir 30 minutos antes del inicio del evento.
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;">
			<table align="center" width="100%" border="0" style="border-collapse: collapse; max-width: 700px; min-width: 700px; width: 700px; padding: 0; margin: 0; background: white;" cellpadding="0" cellspacing="0" bgcolor="#000" valign="top">
				<tr>
					<td width="33%" align="left" style="padding-right: 20px; padding-left: 20px;">
						<p style="font-size: 13px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: right; margin-top: 0; margin-bottom: 10; letter-spacing: -.5px;">
							Presenta este código para acceder al evento, puedes imprimirlo o llevarlo en tu móvil:
						</p>
					</td>
					<td width="33%" style="padding: 0; margin: 0; font-size: 2px; line-height: 2px;" valign="top">
						<img align="top" src="{{ root }}content/qr/{{ participant.Participant.barcode }}.jpg"
							width="100%" style="width: 100%; height: auto; border: 0; margin: 0; padding: 0;">
						<p style="font-size: 20px; font-family: sans-serif; color: black; font-weight: bolder; text-decoration: none; text-align: center; margin-top: 5px; margin-bottom: 0;">
							{{ participant.Participant.barcode }}
						</p>
					</td>
					<td width="33%" style="padding: 0; margin: 0;" valign="top">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;">
			<table align="center" width="100%" border="0" style="border-collapse: collapse; max-width: 700px; min-width: 700px; width: 700px; padding: 0; margin: 0;" cellpadding="0" cellspacing="0" bgcolor="#fff">
				<tr>
					<td width="70%" align="left" bgcolor="#fff" style="padding: 20px;">
						<p style="font-size: 15px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: right; margin-top: 0px; margin-bottom: 15px;">
							<strong style="font-size: 15px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; margin-top: 0; margin-bottom: 15px;">
								¡Reserva el espacio en tu agenda y que no se te olvide!</strong>
						</p>
					</td>
					<td width="30%" align="right" bgcolor="#fff" style="padding: 20px;">
						<a href="{{ participant_url(root ~ 'static/Alimerka%20-%20Gran%20Showcooking%20de%20Navidad%20con%20Pepe%20Rodri%CC%81guez.ics', participant.Participant.id) }}" style="text-decoration: none; border: none">
							<img align="top" style="text-decoration: none; border: none">
							<img align="top" src="{{ root }}static/img/email/calendario.png" width="200" style="max-width: 100%; height: auto; display: block; border: 0; margin: 0; padding: 0; margin-bottom: 0px;"></a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 0; margin: 0;">
			<p style="font-size: 13px; font-family: sans-serif; color: black; font-weight: normal; text-decoration: none; text-align: center; margin-top: 0; margin-bottom: 20;">
				Para cualquier duda puedes escribirnos a
				<strong class="font-size: 15px; font-family: sans-serif; color: black; font-weight: bold; text-decoration: none; text-align: right; margin-top: 20; margin-bottom: 0;">
					<a href="mailto:35aniversario@alimerka.es">
						35aniversario@alimerka.es
					</a>
				</strong>
			</p>
		</td>
	</tr>
</table>