{% set collapse_id = (content.hash ? 'collapse-' ~ content.hash : 'collapse-content') %}
<div class="card-header border-0 cursor-pointer" role="button" {% if collapse %}data-bs-toggle="collapse" data-bs-target="#{{ collapse_id }}" aria-expanded="true" aria-controls="{{ collapse_id }}"{% endif %}>
	<div class="card-title m-0">
		<h3 class="fw-boldest m-0">{{ content.title }}</h3>
	</div>
</div>
<div id="{{ collapse_id }}" class="collapse show">
	<div class="card-body border-top p-9">
		<div class="d-flex flex-wrap align-items-center mb-8" id="{{ collapse_id ~ '-email' }}">
			<div class="d-status-none">
				<div class="fs-4 fw-boldest mb-1">{{ i18n__('Email Address') }}</div>
				<div class="fs-6 fw-bold text-gray-600" data-user-email>{{ user.User.email }}</div>
			</div>
			<div class="flex-row-fluid d-none d-status-block">
				{{ form_helper_open({class: 'form', 'data-ajax-form': null, 'data-gc-on-ajax': 'userEmailChanged', 'data-gc-on-ajax-click': '[data-class-toggle-target="#' ~ collapse_id ~ '-email"]'}) | raw }}
				<div class="row mb-6">
					<div class="col-lg-6 mb-4 mb-lg-0">
						{{ form_helper_input('user[User][email]', 'email', false, {class: 'form-control form-control-lg form-control-solid fw-bold fs-6', div: {class: 'fv-row mb-0'}, label: {class: 'form-label fs-6 fw-bolder mb-3', content: i18n__('Enter New Email Address')}, required: null}) | raw }}
					</div>
					<div class="col-lg-6">
						{{ form_helper_input('user[User][current_password]', 'password', false, {autocomplete: 'current-password', class: 'form-control form-control-lg form-control-solid fw-bold fs-6', div: {class: 'fv-row mb-0'}, label: {class: 'form-label fs-6 fw-bolder mb-3', content: i18n__('Confirm Password')}, required: null}) | raw }}
					</div>
				</div>
				<div class="d-flex">
					<button type="submit" class="btn btn-primary me-2 px-6">{{ i18n__('Update Email') }}</button>
					<button type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6" data-class-toggle="d-status" data-class-toggle-target="#{{ collapse_id ~ '-email' }}">{{ i18n__('Cancel') }}</button>
				</div>
				{{ form_helper_close() | raw }}
			</div>
			<div class="ms-auto d-status-none">
				<button class="btn btn-light fw-boldest px-6" data-class-toggle="d-status" data-class-toggle-target="#{{ collapse_id ~ '-email' }}">{{ i18n__('Change Email') }}</button>
			</div>
		</div>

		<div class="d-flex flex-wrap align-items-center mb-8" id="{{ collapse_id ~ '-password' }}">
			<div class="d-status-none">
				<div class="fs-4 fw-boldest mb-1">{{ i18n__('Password') }}</div>
				<div class="fs-6 fw-bold text-gray-600">************</div>
			</div>
			<div class="flex-row-fluid d-none d-status-block">
				<div class="fs-6 fw-bold text-gray-600 mb-4">{{ i18n__('Password must be at least 8 character and contain numbers, uppercase letters and lowercase letters.') }}</div>
				{{ form_helper_open({class: 'form', 'data-ajax-form': null, 'data-gc-on-ajax-click': '[data-class-toggle-target="#' ~ collapse_id ~ '-password"]', 'data-gc-on-ajax-clear': null}) | raw }}
				<div class="row mb-6">
					<div class="col-lg-4">
						{{ form_helper_input('user[User][current_password]', 'password', false, {autocomplete: 'current-password', class: 'form-control form-control-lg form-control-solid fw-bold fs-6', div: {class: 'fv-row mb-0'}, label: {class: 'form-label fs-6 fw-bolder mb-3', content: i18n__('Current Password')}, required: null}) | raw }}
					</div>
					<div class="col-lg-4">
						{{ form_helper_input('user[User][password]', 'password', false, {autocomplete: 'new-password', class: 'form-control form-control-lg form-control-solid fw-bold fs-6', div: {class: 'fv-row mb-0'}, label: {class: 'form-label fs-6 fw-bolder mb-3', content: i18n__('New Password')}, required: null}) | raw }}
					</div>
					<div class="col-lg-4">
						{{ form_helper_input('user[User][repeat_password]', 'password', false, {autocomplete: 'new-password', class: 'form-control form-control-lg form-control-solid fw-bold fs-6', div: {class: 'fv-row mb-0'}, label: {class: 'form-label fs-6 fw-bolder mb-3', content: i18n__('Confirm New Password')}, required: null}) | raw }}
					</div>
				</div>
				<div class="d-flex">
					<button type="submit" class="btn btn-primary me-2 px-6">{{ i18n__('Update Password') }}</button>
					<button type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6" data-class-toggle="d-status" data-class-toggle-target="#{{ collapse_id ~ '-password' }}">{{ i18n__('Cancel') }}</button>
				</div>
				{{ form_helper_close() | raw }}
			</div>
			<div class="ms-auto d-status-none">
				<button class="btn btn-light fw-boldest" data-class-toggle="d-status" data-class-toggle-target="#{{ collapse_id ~ '-password' }}">{{ i18n__('Reset Password') }}</button>
			</div>
		</div>
		<div class="notice d-flex bg-light-primary rounded border-primary border border-dashed rounded p-6">
			<span class="svg-icon svg-icon-2tx svg-icon-primary me-4">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<rect x="0" y="0" width="24" height="24"/>
						<path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3"/>
						<path d="M11.1750002,14.75 C10.9354169,14.75 10.6958335,14.6541667 10.5041669,14.4625 L8.58750019,12.5458333 C8.20416686,12.1625 8.20416686,11.5875 8.58750019,11.2041667 C8.97083352,10.8208333 9.59375019,10.8208333 9.92916686,11.2041667 L11.1750002,12.45 L14.3375002,9.2875 C14.7208335,8.90416667 15.2958335,8.90416667 15.6791669,9.2875 C16.0625002,9.67083333 16.0625002,10.2458333 15.6791669,10.6291667 L11.8458335,14.4625 C11.6541669,14.6541667 11.4145835,14.75 11.1750002,14.75 Z" fill="#000000"/>
					</g>
				</svg>
			</span>
			<div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap {% if user.User.otp_seed %}d-status{% endif %}" data-two-factor-container>
				<div class="mb-3 mb-md-0 fw-bold">
					<h4 class="text-gray-800 fw-bolder d-status-none">{{ i18n__('Secure Your Account') }}</h4>
					<h4 class="text-gray-800 fw-bolder d-none d-status-block">{{ i18n__('Account Secured') }}</h4>
					<div class="fs-6 text-gray-600 pe-7">{{ i18n__('Two-factor authentication adds an extra layer of security to your account. To log in, in addition you will need to provide a 6 digit code.') }}</div>
				</div>
				<a href="javascript:void(0)" class="btn btn-primary px-6 align-self-center text-nowrap d-status-none" data-open-modal="{{ router_url({controller: 'Users', action: 'twoFactor'}) }}">{{ i18n__('Enable') }}</a>
				<a href="javascript:void(0)" class="btn btn-danger px-6 align-self-center text-nowrap d-none d-status-block" data-open-modal="{{ router_url({controller: 'Users', action: 'twoFactor'}) }}">{{ i18n__('Disable') }}</a>
			</div>
		</div>
	</div>
</div>
