<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title></title>
	</head>
	<body>
		<table align="center" width="100%" border="0" bgcolor="#fff" style="max-width: 700px; min-width: 700px; width: 700px; border: none; border-collapse: collapse;">
			<tr>
				<td align="center" style="padding: 0px; border: none; font-size: 2px; line-height: 2px;">
					<a href="{{ root }}"><img src="{{ root }}static/img/email/header.jpg" width="700" style="width: 100%; height: auto; display: block; border: 0; float: left;" align="top"></a>
				</td>
			</tr>
			<tr>
				<td align="left" style="padding: 0px; margin: 0;">
					{{ content_for_layout | raw}}
				</td>
			</tr>
			<tr>
				<td align="center" style="background-color: #ffd101;">
					<table align="center" width="100%" border="0" style="border-collapse: collapse; max-width: 700px; min-width: 700px; width: 700px;" cellpadding="0" cellspacing="0" bgcolor="#ffd101">
						<tr>
							<td align="center" style="background-color: #ffd101; padding: 10px;">
								<a href="https://www.linkedin.com/company/alimerka/" target="_blank" style="border: 0; text-decoration: none"><img src="{{ root }}static/img/email/linkedin.jpg" width="40" style="width: 40px; height: auto; border: 0;"></a>
								&nbsp;
								<a href="https://twitter.com/alimerka" target="_blank" style="border: 0; text-decoration: none"><img src="{{ root }}static/img/email/twitter.jpg" width="40" style="width: 40px; height: auto; border: 0;"></a>
								&nbsp;
								<a href="https://www.facebook.com/alimerka.es/" target="_blank" style="border: 0; text-decoration: none"><img src="{{ root }}static/img/email/facebook.jpg" width="40" style="width: 40px; height: auto; border: 0;"></a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
