{% set file_input_empty = (not value or (value == default_value)) %}
<div data-kt-file-input-preloaded="{{ (not file_input_empty) | json_encode }}" class="file-input file-input-outline" data-kt-file-input="true">
	<div class="file-input-wrapper p-2 pe-5">{{ display_value ?: 'Seleccione...' }}</div>
	<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-file-input-action="change" data-bs-toggle="tooltip" title="{{ i18n__('Change %s') | format(readable) }}">
		<i class="bi bi-pencil-fill fs-7"></i>
		{{ form_helper_input(name, 'file', false, {div: false, label: false, class: ''}) | raw }}
		{{ form_helper_input(name ~ '_remove', 'hidden', '', {div: false, label: false}) | raw }}
		{{ form_helper_input(name ~ '_upload', 'hidden', '1', {div: false, label: false}) | raw }}
	</label>
	<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-file-input-action="cancel" data-bs-toggle="tooltip" title="{{ i18n__('Cancel %s') | format(readable) }}">
		<i class="bi bi-x fs-2"></i>
	</span>
	<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-file-input-action="remove" data-bs-toggle="tooltip" title="{{ i18n__('Remove %s') | format(readable) }}">
		<i class="bi bi-x fs-2"></i>
	</span>
</div>