{% set image_input_empty = (not value or (value == default_value)) %}
<div data-kt-image-input-preloaded="{{ (not image_input_empty) | json_encode }}" class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url({{ default_value }})">
	<div class="image-input-wrapper w-125px h-125px" style="background-image: url({{ value }})"></div>
	<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="{{ i18n__('Change %s') | format(readable) }}">
		<i class="bi bi-pencil-fill fs-7"></i>
		{{ form_helper_input(name, 'file', false, {div: false, label: false, accept: '.png, .jpg, .jpeg, .svg', class: ''}) | raw }}
		{{ form_helper_input(name ~ '_remove', 'hidden', '', {div: false, label: false}) | raw }}
		{{ form_helper_input(name ~ '_upload', 'hidden', '1', {div: false, label: false}) | raw }}
	</label>
	<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="{{ i18n__('Cancel %s') | format(readable) }}">
		<i class="bi bi-x fs-2"></i>
	</span>
	<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="{{ i18n__('Remove %s') | format(readable) }}">
		<i class="bi bi-x fs-2"></i>
	</span>
</div>
<div class="form-text">{{ i18n__('Allowed file types: png, jpg and svg.') }}</div>
